
<ul>
    {{#each buttons}}
    <li class="{{action}}">
        <button class="{{buttonClass}}" data-action="{{action}}" title="{{title}}">
            {{label}}
        </button>
    </li>

    {{/each}}
</ul>

