
<ul>
    {{#each buttons}}
    <li class="{{liClass}}">
        <button class="{{buttonClass}}" data-class="{{liClass}}" title="{{title}}">
            {{label}}
        </button>
    </li>

    {{/each}}
</ul>

